@{
    Layout = null;    
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户登录</title>
    <link type="text/css" rel="stylesheet" href="/Themes/default/login.css"/>
    <script type="text/javascript" language="javascript" src="/Scripts/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" language="javascript" src="/Scripts/Utility.js"></script>
</head>
<body>
<div class="header">
<div class="header" id="header">
<div class="toprow">
<ul>
		<li class="account">欢迎登录<span>@ViewBag.titname</span></li>
			<!--li><div><a href="/Account/index/" target="frame_content">返回首页</a></div></li-->
	</ul>
</div>

<div class="box">
	<div class="logo"><img alt="" src="/Images/Logo.png"></div>
	<div class="sys-title">
		<h1>@ViewBag.titname</h1>
		<h2></h2>
	</div>
</div>
    </div>
</div>
<div id="checkConfig" style="background-color: #FFF4A5; border: 1px solid #E4550A; padding: 10px; margin-bottom: 5px; display:none;">
    网站部署时所用临时配置文件尚未删除，该页面在网站上线后有安全隐患，建议立即删除，位置网站根目录，名称Config.aspx。
</div>
<div class="totalDiv">
<!-- Login Box -->

	<!--内容部分-->
	<div id="login_div01">
	<div id="login_div02">

	<div id="login_div04">
	<h2>系统登录</h2>

    @using (Html.BeginForm("LoginCheck", "SSO", FormMethod.Post))
    {
	<div id="login_div05">
	<div id="ad_div02_div01">
    <div id="checkLoginId" class="sprite request-msg"></div>

    <div id="login_text01">
	    <div class="login_text01">登录方式：</div>
	    <div class="login_text02"><input type="text" id="loginType" name="loginType" class="textinput requset" /></div>
	</div>

	<div id="login_text01">
	    <div class="login_text01">学工号：</div>
	    <div class="login_text02"><input type="text" id="loginId" name="loginId" class="textinput requset" /></div>
	</div>

	<div id="login_text01">
	    <div class="login_text01">密&nbsp;&nbsp;&nbsp;&nbsp;码：</div>
	    <div class="login_text02"><input type="password" id="loginPwd" name="loginPwd" class="textinput requset" /></div>
	</div>
	
	<div id="login_text01">
	    <div class="login_text01">验证码：</div>
	    <div class="login_text02"><input id="validateCode" name="validateCode" class="textinput" style="width: 70px;" />   <a href="javascript:void(0);" title="看不清?换一个" onclick="ChangeValidateCode();">                <img id="img_checkcode" src="/SSO/ValidateCode" alt="看不清?换一个" style="height:28px; width:79px; margin-bottom:-8px;"/></a> </div>
	</div>	
    <div id="ad_div02_div03">@Html.Raw(ViewBag.msgInfo)</div>
	<div id="pd_ico"><input type="image" id="img_Submit" src="/Themes/Default/images/login.gif" onclick="UserLogin();return false;"  /></div>
	
	</div>
    </div>
    }
        
	</div>
	</div>
	</div>

<!-- Login Box End -->
</div>

<div class="box" style="text-align:center;">
	<p id="pcopyright">版权所有：&copy; @ViewBag.Copyright</p>
	<p id="psubcopyright">Copyright：&copy; @ViewBag.SubCopyright</p>	
</div>
</body>
</html>

<script type="text/javascript">
    $(function () {

        $("#loginId").focus();
    });

    function UserLogin() {
        $(".request-msg").hide();

        $(".textinput").removeClass('input-error');
        if ($("#loginId").val() == "") {
            ToolTip("loginId", "checkLoginId", "学工号不能为空!");
            return;
        }
        if ($("#loginPwd").val() == "") {
            ToolTip("loginPwd", "checkPwd", "密码不能为空!");
            return;
        }
        if ($("#validateCode").val() == "") {
            ToolTip("validateCode", "checkValidate", "验证码不能为空!");
            return;
        }
        document.forms[0].submit();
    }
    function ShortLogin(loginId) {
        if (loginId == "admin") {
            $("#loginId").val(loginId);
            $("#loginPwd").val("123456");
        }
        if (loginId == "000001") {
            $("#loginId").val(loginId);
            $("#loginPwd").val("000001");
        }
        $("#validateCode").val(GetCookie("ValidateCode"))
        document.forms[0].submit();
    }

    function ToolTip(inputControl, tipControl, tipText) {
        alert(tipText);
        //$("#" + inputControl).addClass('input-error');
        //$("#" + tipControl).show().text(tipText);
        $("#" + inputControl).focus();
    }

    function ChangeValidateCode() {
        document.getElementById("img_checkcode").src = "/SSO/ValidateCode?a=" + (new Date().getTime());
    }

    function KeyLogin(e) {
        var keys = window.event ? e.keyCode : e.which;
        if (keys == 13)
            document.getElementById("loginPwd").focus()
    }
    function KeyPwd(e) {
        var keys = window.event ? e.keyCode : e.which;
        if (keys == 13)
            document.getElementById("validateCode").focus()
    }
    function KeyValidate(e) {
        var keys = window.event ? e.keyCode : e.which;
        if (keys == 13) {
            document.getElementById("img_Submit").focus()
            UserLogin();
        }
    }   
</script>